<app-page-header title="Users" icon="people"></app-page-header>
<div [@fadeInOut] class="page-content">

  <div class="search-box">
    <mat-form-field>
      <mat-label>{{'users.management.Search' | translate}}</mat-label>
      <input matInput (keyup)="applyFilter($any($event.target).value)">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell class="flex-grow15" *matHeaderCellDef mat-sort-header> {{'users.management.Title' | translate}} </mat-header-cell>
        <mat-cell class="flex-grow15" *matCellDef="let row"> {{row.jobTitle}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell class="flex-grow25" *matHeaderCellDef mat-sort-header> {{'users.management.UserName' | translate}} </mat-header-cell>
        <mat-cell class="flex-grow25" *matCellDef="let row"> {{row.userName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <mat-header-cell class="flex-grow40" *matHeaderCellDef mat-sort-header> {{'users.management.FullName' | translate}} </mat-header-cell>
        <mat-cell class="flex-grow40" *matCellDef="let row"> {{row.fullName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell class="flex-grow40" *matHeaderCellDef mat-sort-header> {{'users.management.Email' | translate}} </mat-header-cell>
        <mat-cell class="flex-grow40" *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container *ngIf="canManageUsers" matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="flex-170px justify-center">
          <button *ngIf="canAssignRoles" mat-button color="primary" matTooltip="{{'users.management.NewUser' | translate}}" (click)="editUser()">
            <mat-icon>person_add</mat-icon>{{'users.management.NewUser' | translate}}
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let user" class="flex-170px justify-center">
          <button mat-icon-button matTooltip="{{'users.management.Edit' | translate}}" (click)="editUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="{{'users.management.Delete' | translate}}" (click)="confirmDelete(user)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
