<form #form="ngForm" [formGroup]="userProfileForm" novalidate (ngSubmit)="save()" [ngClass]="{'form-field--unfilled form-field--readonly' : !isEditMode}" class="flex-col" autocomplete="off">

  <div class="flex-row flex-col-ltmd gap-col-1em">
    <mat-form-field [floatLabel]="floatLabels" class="flex-1">
      <mat-label>{{'users.editor.JobTitle' | translate}}</mat-label>
      <input matInput formControlName="jobTitle" [readonly]="!isEditMode" />
    </mat-form-field>

    <mat-form-field [floatLabel]="floatLabels" class="flex-1">
      <mat-label>{{'users.editor.FullName' | translate}}</mat-label>
      <input matInput formControlName="fullName" [readonly]="!isEditMode" />
    </mat-form-field>
  </div>

  <div class="flex-row flex-col-ltmd gap-col-1em">
    <mat-form-field [floatLabel]="floatLabels" class="flex-1">
      <mat-label>{{'users.editor.Email' | translate}}</mat-label>
      <input matInput formControlName="email" [class.auto-width]="emailConfirmed === false" [readonly]="!isEditMode" />
      <button *ngIf="emailConfirmed === false" type="button" (click)="sendVerificationEmail()" [disabled]="isSendingEmail" class="send-confirm-email" mat-button color="primary">
        [{{'users.editor.SendVerificationEmail' | translate}}]
      </button>
      <mat-error *ngIf="email.hasError('required')">{{'users.editor.EmailRequired' | translate}}</mat-error>
      <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">{{'users.editor.InvalidEmail' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field [floatLabel]="floatLabels" class="flex-1">
      <mat-label>{{'users.editor.PhoneNumber' | translate}}</mat-label>
      <input matInput formControlName="phoneNumber" [readonly]="!isEditMode" />
    </mat-form-field>
  </div>

  <div class="flex-row flex-col-ltmd gap-col-1em">
    <mat-form-field [floatLabel]="floatLabels" class="flex-nogrow50-gtsm">
      <mat-label>{{'users.editor.UserName' | translate}}</mat-label>
      <input matInput formControlName="userName" [readonly]="!isEditMode" autocomplete="off" />
      <mat-error *ngIf="userName.hasError('required')">{{'users.editor.UserNameRequired' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field #currentPasswordForm *ngIf="userHasPassword && isEditMode && !isNewUser && isEditingSelf && (userName.value !== user.userName || confirmedEmailChanged || isChangePassword)"
                    [floatLabel]="floatLabels" formGroupName="password" class="flex-1">
      <mat-label>{{'users.editor.CurrentPassword' | translate}}</mat-label>
      <input matInput type="password" formControlName="currentPassword" />
      <mat-error *ngIf="currentPassword.hasError('required')">{{'users.editor.CurrentPasswordRequired' | translate}}</mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="isEditMode">
    <button mat-raised-button class="change-password-button" (click)="changePassword()" *ngIf="!(isChangePassword || isNewUser)" color="primary">{{'users.editor.ChangePassword' | translate}}</button>

    <div *ngIf="isChangePassword || isNewUser" formGroupName="password" class="flex-row flex-col-ltmd gap-col-1em">

      <mat-form-field [floatLabel]="floatLabels" class="flex-1">
        <mat-label>{{'users.editor.NewPassword' | translate}}</mat-label>
        <input matInput type="password" formControlName="newPassword" autocomplete="off" />
        <mat-error *ngIf="newPassword.hasError('required')">{{'users.editor.NewPasswordRequired' | translate}}</mat-error>
        <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">{{'users.editor.NewPasswordRules' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field [floatLabel]="floatLabels" class="flex-1">
        <mat-label>{{'users.editor.ConfirmPassword' | translate}}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="confirmPassword.hasError('required')">{{'users.editor.ConfirmationPasswordRequired' | translate}}</mat-error>
        <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">{{'users.editor.PasswordMismatch' | translate}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="flex-row flex-col-ltmd gap-col-1em">
    <mat-form-field class="flex-nogrow50-gtsm">
      <mat-label>{{'users.editor.Roles' | translate}}</mat-label>
      <mat-select formControlName="roles" multiple
                  #rolesControl (openedChange)="rolesOpened(rolesControl)" (selectionChange)="rolesChanged()" [panelClass]="!isEditMode || !canAssignRoles ? 'hide' : ''">
        <mat-option *ngFor="let role of assignableRoles" [value]="role.name">
          <span matTooltip="{{role.description}}">{{role.name}}</span>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="assignedRoles.hasError('required')">{{'users.editor.RoleRequired' | translate}}</mat-error>
    </mat-form-field>
  </div>

  <div class="flex-row flex-col-ltmd gap-col-1em">
    <div class="flex-nogrow50-gtsm">
      <mat-checkbox *ngIf="isEditMode" formControlName="isEnabled">{{'users.editor.Enabled' | translate}}</mat-checkbox>
    </div>

    <div>
      <button mat-button *ngIf="user.isLockedOut" (click)="unlockUser()" [disabled]="isSaving" color="accent"><mat-icon>lock_open</mat-icon>{{'users.editor.Unblock' | translate}}</button>
    </div>
  </div>
</form>
