<div class="page-content flex fill center-center">
  <div class="card mat-elevation-z6">
    <div class="card-header mat-mdc-card-title">
      <span>Register</span>
    </div>
    <div class="card-content">
      <form #form="ngForm" [formGroup]="registerForm" (ngSubmit)="register()" novalidate class="app-register-form">
        <mat-form-field class="app-validate">
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" autocomplete="off" (keydown.enter)="register()">
          <mat-error *ngIf="userName.hasError('required')">User name is <strong>required</strong> (minimum of 2 and maximum of 200 characters)</mat-error>
        </mat-form-field>

        <mat-form-field class="app-validate">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" autocomplete="email" (keydown.enter)="register()">
          <mat-error *ngIf="email.hasError('required')">Email address is <strong>required</strong> (maximum of 200 characters)</mat-error>
          <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">Specified email is <strong>not valid</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="app-validate" formGroupName="password">
          <mat-label>Password</mat-label>
          <input matInput formControlName="newPassword" autocomplete="new-password" (keydown.enter)="register()" type="password">
          <mat-error *ngIf="newPassword.hasError('required')">Password is <strong>required</strong></mat-error>
          <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
            <span>Password must contain at least: one uppercase letter, one lowercase letter, one digit, and any special character</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="app-validate" formGroupName="password">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" autocomplete="new-password" (keydown.enter)="register()" type="password">
          <mat-error *ngIf="confirmPassword.hasError('required')">Confirmation password is <strong>required</strong></mat-error>
          <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">
            <span>Password and confirmation password <strong>do not match</strong></span>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
    <div class="card-actions">
      <button mat-raised-button color="primary" [disabled]="isLoading" (click)="register()">
        <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
        REGISTER
      </button>
      <a mat-button routerLink="/login">CANCEL</a>
    </div>
  </div>
</div>
