<div class="page-content flex fill center-center">
  <div *ngIf="!foundEmail" class="card flex-auto mat-elevation-z6">
    <div class="card-content">
      <div class="flex center-center">
        <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
        {{message}}
      </div>
      <button *ngIf="!message && !isLoading" mat-raised-button color="primary" routerLink="/">
        <mat-icon>home</mat-icon>
        <span>{{'notFound.backToHome' | translate}}</span>
      </button>
    </div>
  </div>

  <div *ngIf="foundEmail" class="card flex-auto mat-elevation-z6">
    <div class="card-header mat-mdc-card-title">
      <span>Link {{provider}} account</span>
    </div>
    <div class="card-content">
      <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="linkAccountAndLogin()" novalidate class="app-login-form">
        <div class="mat-typography center-text msg-margin">
          We found an account with this email address. Login with your existing password to link with your {{provider}} account.
        </div>
        <mat-form-field class="app-validate">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" autocomplete="email">
        </mat-form-field>

        <mat-form-field class="app-validate">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" autocomplete="current-password" (keydown.enter)="linkAccountAndLogin()" type="password">
          <mat-error *ngIf="passwordControl.hasError('required')">Password is <strong>required</strong></mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="card-actions flex">
      <button mat-raised-button color="primary" [disabled]="isLoading" (click)="linkAccountAndLogin()">
        <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>{{'mainMenu.Login' | translate | uppercase}}
      </button>
      <div class="flex-auto"></div>
      <a mat-button routerLink="/recoverpassword">FORGOT PASSWORD</a>
    </div>
  </div>
</div>
