<div class="page-content flex fill center-center">
  <div class="card mat-elevation-z6">
    <div class="card-header mat-mdc-card-title">
      <span>Reset Password</span>
    </div>
    <div class="card-content">
      <p *ngIf="isSuccess">Your password has been reset. Please <a routerLink="/login">click here to login</a>.</p>
      <form *ngIf="!isSuccess" #form="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate class="app-reset-form">
        <mat-form-field class="app-validate">
          <mat-label>Username Or Email</mat-label>
          <input matInput formControlName="usernameOrEmail" autocomplete="email" (keydown.enter)="resetPassword()">
          <mat-error *ngIf="usernameOrEmail.hasError('required')">User name or Email address is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="app-validate" formGroupName="password">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" autocomplete="new-password" (keydown.enter)="resetPassword()" type="password">
          <mat-error *ngIf="newPassword.hasError('required')">Password is <strong>required</strong></mat-error>
          <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
            <span>Password must contain at least: one uppercase letter, one lowercase letter, one digit, and any special character</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="app-validate" formGroupName="password">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" autocomplete="new-password" (keydown.enter)="resetPassword()" type="password">
          <mat-error *ngIf="confirmPassword.hasError('required')">Confirmation password is <strong>required</strong></mat-error>
          <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">
            <span>Password and confirmation password <strong>do not match</strong></span>
          </mat-error>
        </mat-form-field>

      </form>
    </div>
    <div class="card-actions">
      <button *ngIf="!isSuccess" mat-raised-button color="primary" [disabled]="isLoading" (click)="resetPassword()">
        <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
        SUBMIT
      </button>
      <a *ngIf="!isSuccess" mat-button routerLink="/">CANCEL</a>
    </div>
  </div>
</div>
