<h1 mat-dialog-title>{{'mainMenu.Login' | translate}}</h1>
<div mat-dialog-content>
  <app-login-control #loginControl [isModal]="true"></app-login-control>
</div>
<div mat-dialog-actions>
  <div class="flex-col fill">
    <div>
      <button mat-raised-button color="primary" (click)="loginControl.login()">Login</button>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
    <div class="mat-typography social-logins-divider flex-row justify-around align-center">
      <mat-divider></mat-divider>
      <span>or Connect with:</span>
      <mat-divider></mat-divider>
    </div>
    <div class="social-logins-buttons flex-row justify-around align-center">
      <button mat-raised-button [color]="'google'" [disabled]="loginControl.isLoading" (click)="loginControl.loginWithGoogle()">
        <mat-icon *ngIf="!(loginControl.isLoading && loginControl.isGoogleLogin)" svgIcon="google"></mat-icon>
        <mat-spinner *ngIf="loginControl.isLoading && loginControl.isGoogleLogin" [diameter]="20"></mat-spinner>
        <span class="text-content">Google</span>
      </button>
      <button mat-raised-button [color]="'facebook'" [disabled]="loginControl.isLoading" (click)="loginControl.loginWithFacebook()">
        <mat-icon *ngIf="!(loginControl.isLoading && loginControl.isFacebookLogin)" svgIcon="facebook"></mat-icon>
        <mat-spinner *ngIf="loginControl.isLoading && loginControl.isFacebookLogin" [diameter]="20" color="accent"></mat-spinner>
        <span class="text-content">Facebook</span>
      </button>
      <button mat-raised-button [color]="'twitter'" [disabled]="loginControl.isLoading" (click)="loginControl.loginWithTwitter()">
        <mat-icon *ngIf="!(loginControl.isLoading && loginControl.isTwitterLogin)" svgIcon="twitter"></mat-icon>
        <mat-spinner *ngIf="loginControl.isLoading && loginControl.isTwitterLogin" [diameter]="20"></mat-spinner>
        <span class="text-content">Twitter</span>
      </button>
      <button mat-raised-button [color]="'microsoft'" [disabled]="loginControl.isLoading" (click)="loginControl.loginWithMicrosoft()">
        <mat-icon *ngIf="!(loginControl.isLoading && loginControl.isMicrosoftLogin)" svgIcon="microsoft"></mat-icon>
        <mat-spinner *ngIf="loginControl.isLoading && loginControl.isMicrosoftLogin" [diameter]="20"></mat-spinner>
        <span class="text-content">Microsoft</span>
      </button>
    </div>
  </div>
</div>
