.search-box {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}

.search-box .mat-mdc-form-field {
    padding: 0 2em;
}

.flex-70px {
  flex: 1 1 70px;
  box-sizing: border-box;
  max-width: 70px;
  min-width: 70px;
}

.flex-170px {
  flex: 1 1 170px;
  box-sizing: border-box;
  max-width: 170px;
  min-width: 170px;
}

